@charset "utf-8";
@import "../../node_modules/bulma/bulma.sass";
@import "../../public/assets/style.scss";

$color-primary: #00d1b2;
$color-secondary: #ffa500;

.button {
  font-size: 34px;
  font-weight: 500;
  line-height: 0px;
  width: 300px;
  border-radius: 10px;
  border-width: 4px;
  padding: 0px;
}

.connect-button {
  @extend .button, .is-primary, .is-outlined;
}

.join-button {
  @extend .button, .is-primary;
  font-size: 38px;
  width: 150px;
  height: 70px;
}

.join-button[disabled] {
  border-color: #cccccc;
  background-color: #cccccc;
  color: #666666;
}

.host-button {
  @extend .button;
  font-size: 38px;
  width: 150px;
  height: 70px;
  background-color: $color-secondary;
  color: white;
  border: 0px;
}

.host-button:hover {
  color: white;
  background-color: #ffa600e4;
}

.host-button:focus {
  color: white;
  background-color: #ffa600e4;
}

.host-button:active {
  color: white;
  background-color: #ffa600bb;
}

.join-or-host-container {
  justify-content: center;
}

.lobby-button {
  @extend .button, .is-primary, .is-outlined;
  font-size: 38px;
  width: 200px;
  height: 100px;
}

.lobby-button[disabled] {
  border-color: #cccccc;
  background-color: #cccccc;
  color: #666666;
}

.connected-as-text {
  @extend .is-size-4;
  color: white;
}

.name {
  @extend .has-text-weight-semibold;
  font-size: 26px;
  white-space: nowrap;
  color: $color-primary;
}

.lobby-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  min-height: 500px;
  margin: 10px;
}

.lobby-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: fill;
  height: 150px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  background: orange;
  opacity: 0.6;
  transition: all 0.2s ease-in-out;
}

.lobby-list-item:hover {
  cursor: pointer;
  opacity: 1;
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}

.lobby-create {
  @extend .is-size-2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: lightgray;
  width: fill;
  height: 150px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: none;
  border-radius: 5px;
  background-color: rgb(55, 51, 79);
  opacity: 0.6;
  transition: all 0.2s ease-in-out;
}

.lobby-create:hover {
  cursor: pointer;
  opacity: 1;
  transition: all 0.2s ease-in-out;
  transform: scale(1.1);
}
